body{
    background-color: darkseagreen;
}

h1{
    color: blueviolet;
}

h2{
    color: cyan;
    background-color: yellowgreen;
}

.texto-roxo{
    color: #708090
}
    
.texto-branco{
    color: #708090
}

.texto-magenta

#listas-das-musicas {
    color: rgb(0, 0, 205)
}

#melhor-musica {
    color: rgb(0, 0, 255)
}
 